<html>
<head>
    <title>Livros</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
</head>
<body>
    <h1>Cliente</h1>
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Aluguel", "Index", "Home")</li>
        <li>@Html.ActionLink("Cliente", "Cliente", "Home")</li>
        <li>@Html.ActionLink("Livro", "Livro", "Home")</li>
    </ul>
    <form>
        <table class="table">
            <tr>
                <td>Cliente ID :</td>
                <td>
                    <select id="id">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nome :</td>
                <td><input id="nm" type="text" /></td>
            </tr>
            <tr>
                <td>Cpf :</td>
                <td><input id="cpf" type="text" /></td>
            </tr>
            <tr>
                <td>Data de Nascimento :</td>
                <td><input id="dtn" type="text" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="incluir"
                           value="Incluir" />
                    <input type="button" id="atualizar"
                           value="Atualizar" />
                    <input type="button" id="excluir"
                           value="Excluir" />
                </td>
            </tr>
        </table>
        <br />
        <div id="msg"></div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var options = {};
            options.url = "/api/cliente";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (element) {
                    $("#id").append("<option value=" + element.codigo + ">"
                        + element.nome + "</option>");
                });
            };
            options.error = function () {
                $("#msg").html("Erro ao chamar a API!");
            };
            $.ajax(options);

            $("#id").change(function () {
                var options = {};
                options.url = "/api/cliente/" +
                    $("#id").val() + "/cliente";
                options.type = "GET";
                options.dataType = "json";
                options.success = function (data) {
                    $("#nm").val(data.nome);
                    $("#cpf").val(data.cpf);
                    $("#dtn").val(data.dataDeNascimento);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#incluir").click(function () {
                var options = {};
                options.url = "/api/cliente";
                options.type = "POST";

                var obj = {};
                obj.nome = $("#nm").val();
                obj.cpf = $("#cpf").val();
                obj.dataDeNascimento = $("#dtn").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";

                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#atualizar").click(function () {
                var options = {};
                options.url = "/api/cliente/"
                    + $("#id").val() + "/editacliente";
                options.type = "PUT";

                var obj = {};
                obj.codigo = $("#id").val();
                obj.nome = $("#nm").val();
                obj.cpf = $("#cpf").val();
                obj.dataDeNascimento = $("#dtn").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#excluir").click(function () {
                var options = {};
                options.url = "/api/cliente/"
                    + $("#id").val() + "/deletacliente";
                options.type = "DELETE";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

        });

    </script>
</body>
</html>