<html>
<head>
    <title>Aluguel de Livros</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
</head>
<body>
    <h1>Alugueis de Livros</h1>
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Aluguel", "Index", "Home")</li>
        <li>@Html.ActionLink("Cliente", "Cliente", "Home")</li>
        <li>@Html.ActionLink("Livro", "Livro", "Home")</li>
    </ul>
    <form>
        <table class="table">
            <tr>
                <td>Aluguel ID :</td>
                <td>
                    <select id="id">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Data de Retirada :</td>
                <td><input id="dtre" type="text" /></td>
            </tr>
            <tr>
                <td>Data de Entrega :</td>
                <td><input id="dten" type="text" /></td>
            </tr>
            <tr>
                <td>Status :</td>
                <td><input id="st" type="text" /></td>
            </tr>
            <tr>
                <td>Livro:</td>
                <td>
                    <select id="livroId">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cliente :</td>
                <td>
                    <select id="clienteId">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="incluir"
                           value="Incluir" />
                    <input type="button" id="atualizar"
                           value="Atualizar" />
                    <input type="button" id="excluir"
                           value="Excluir" />
                </td>
            </tr>
        </table>
        <br />
        <div id="msg"></div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var livro = {};
            livro.url = "/api/livro";
            livro.type = "GET";
            livro.dataType = "json";
            livro.success = function (data) {
                data.forEach(function (element) {
                    $("#livroId").append("<option value=" + element.codigo + ">"
                        + element.nome + "</option>");
                });
            };
            livro.error = function () {
                $("#msg").html("Erro ao chamar a API!");
            };
            $.ajax(livro);

            var cliente = {};
            cliente.url = "/api/cliente";
            cliente.type = "GET";
            cliente.dataType = "json";
            cliente.success = function (data) {
                data.forEach(function (element) {
                    $("#clienteId").append("<option value=" + element.codigo + ">"
                        + element.nome + "</option>");
                });
            };
            cliente.error = function () {
                $("#msg").html("Erro ao chamar a API!");
            };
            $.ajax(cliente);

            var options = {};
            options.url = "/api/aluguel";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                data.forEach(function (element) {
                    $("#id").append("<option value=" + element.codigo + ">"
                        + element.livro.descricao + "</option>");
                });
            };
            options.error = function () {
                $("#msg").html("Erro ao chamar a API!");
            };
            $.ajax(options);

            $("#id").change(function () {
                var options = {};
                options.url = "/api/aluguel/" +
                    $("#id").val() + "/aluguel";
                options.type = "GET";
                options.dataType = "json";
                options.success = function (data) {
                    $("#dtre").val(data.dataDeRetirada);
                    $("#dten").val(data.dataDeEntrega);
                    $("#st").val(data.status);
                    $("#livroId").val(data.livroId);
                    $("#clienteId").val(data.clienteId);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#incluir").click(function () {
                var options = {};
                options.url = "/api/aluguel";
                options.type = "POST";

                var obj = {};
                obj.dataDeRetirada = $("#dtre").val();
                obj.dataDeEntrega = $("#dten").val();
                obj.status = $("#st").val();
                obj.livroId = $("#livroId").val();
                obj.clienteId = $("#clienteId").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";

                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#atualizar").click(function () {
                var options = {};
                options.url = "/api/aluguel/"
                    + $("#id").val() + "/editaaluguel";
                options.type = "PUT";

                var obj = {};
                obj.codigo = $("#id").val();
                obj.dataDeRetirada = $("#dtre").val();
                obj.dataDeEntrega = $("#dten").val();
                obj.status = $("#st").val();
                obj.livroId = $("#livroId").val();
                obj.clienteId = $("#clienteId").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

            $("#excluir").click(function () {
                var options = {};
                options.url = "/api/aluguel/"
                    + $("#id").val() + "/deletaaluguel";
                options.type = "DELETE";
                options.dataType = "html";
                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html("Erro ao chamar a API!");
                };
                $.ajax(options);
            });

        });

    </script>
</body>
</html>